/Java/exercicios_2/Ex2/nbproject/private/
/Java/exercicios/Ex2/build/
/Java/estruturas_condicionais/JavaApplication6/nbproject/private/
/Java/estruturas_condicionais/Condicionais/nbproject/private/
/Java/estruturas_condicionais/Condicionais/build/
/Java/exercicios/Ex3/nbproject/private/
/Java/exercicios/ex4/nbproject/private/
/Java/exercicios/ex4/build/
/Java/exercicios/ex4/dist/
