*{
    font-family:'Oswald', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    height: 100vh;
   
    display:grid;
    grid-template-rows:120px 1fr 60px;/*Essa linha representa as "linhas"(divisoes) que serão feitas no html, o Primiero valor é referente ao header, o segundo ao main que ta com 1fr(Fragmento) ou seja ele vai se adptar, o terceiro referente ao footer*/
    grid-template-columns:1fr;/*Indica o tamanho de largura que vai ocupar ou seja 1frindica a tela toda*/
    grid-template-areas: 
    "cabecalho " 
    "principal " 
    "rodape";/*Aqui ele vai indicar a sequencia de cada elemento*/

}
.cabecalho{
    grid-area: cabecalho;/*Aqui você indica qual é a aera que esse elemnto vai ocupar com o nome que dado antes */
    background-color: #1867c0;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 4px 9px -2px rgba(85, 85, 85, 0.527) ;
}
.cabecalho > h1{
    margin:0;
    font-weight: 300;
    font-size: 2.8rem;
}
.cabecalho > p{
    margin:0;
    font-weight: 200;
    font-size: 1.6rem;
}
.principal{
    grid-area: principal;
    background:#f0f0f0;
    height: calc(100vh - 180px);/*Esse calculo é feito para que o main so ocupe o espaço dele, colocando o valor 100vh - (header + o valor do footer)*/
    padding:20px;
}
.conteudo{
    position:relative;
    height: 100%;
    overflow-y: scroll;
    background: white;
    padding:20px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2) ;
}
.rodape{
    grid-area: rodape;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
    padding:20px;
    color:#444;
}
.modulos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.modulos .modulo{
    flex-basis:32%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.modulo > h3{
    margin:0;
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background: #1867c0;
}
.modulo > ul {
    padding:10px;
    list-style: none;
}
.modulo > ul > li{
    padding:5px;
    cursor:pointer;
    font-size: 1.3rem;

} 
.modulo > ul > li > a{
    color: #222;
    display:flex;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    
}
.modulo > ul > li:hover{
    background: #EEE;
}
.modulo.verde{border: 2px solid #4CAF50;}
.modulo.verde h3{ background: #4CAF50;}

.modulo.vermelho{border: 2px solid #F44336;}
.modulo.vermelho h3{ background: #F44336;}

.modulo.azul{border: 2px solid #2196f3;}
.modulo.azul h3{ background: #2196f3;}

.modulo.roxo{border: 2px solid #9c27b0;}
.modulo.roxo h3{ background: #9c27b0;}

.modulo.laranja{border: 2px solid #ff9800;}
.modulo.laranja h3{ background: #ff9800;}

.modulo.verde-escuro{border: 2px solid #1b5e20;}
.modulo.verde-escuro h3{ background: #1b5e20;}

.modulo.vermelho-escuro{border: 2px solid #b71c1c;}
.modulo.vermelho-escuro h3{ background: #b71c1c;}

.modulo.azul-escuro{border: 2px solid #0f0f7e;}
.modulo.azul-escuro h3{ background: #0f0f7e;}

.modulo.black{border: 2px solid black;}
.modulo.black h3{ background: #000;}