/* font-family: 'Roboto', sans-serif; */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--font-text);
}
:root{
    font-size: 62.5%;
    --font-text:'Roboto', sans-serif;
    --font-titulo:'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    width: 100%;

}
body h1{
    font-family: var(--font-titulo);
}
main{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#inicioList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    background: blue;
    

}
#itemList{
    min-height: calc(100% - 400px);

}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
    height: 5rem;
    background: red;
    width: 400px;
    color: white;
}
.item p {
    font-size: 1.6rem;
}
.item .check{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
