*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display:flex ;
    align-items: center;
    justify-content: center;
}
.colunas{
    padding: 20px;
    gap: 1rem;
    height: 90vh;
    width: 100%;
    display:flex;
}
aside{
    flex: 25%;
    background: rgb(150, 150, 150);
    border: 1px solid;
    border-radius: 5px;
}
main{
    border-radius: 5px;
    border: 1px solid;
    background: rgb(85, 85, 85);
    flex: 75%;
}